<div class="container-fluid p-4 text-light">
	<div class="container-fluid bg-f-dark">
		<div class="row px-1 py-2 justify-content-center">
			<div class="col-12 text-center my-3">
				<img src="../../assets/Logo_light.png" style="width: 100px" />
			</div>
			<div class="col-12 text-center my-3">Windows and Beyond</div>
			<hr />
			<div class="col-12 my-2">
				<p class="h3 text-center">Reach Us</p>
			</div>
			<div class="col-12 d-flex flex-column flex-md-row justify-content-center">
				<div class="m-md-2 contactCard pe-md-2 pb-2 pb-md-0">
					<p class="text-center m-1">Mr. Vikas Khari</p>
					<p class="text-center m-1"><i class="h6 bi bi-phone me-1"></i>+91-9899666677</p>
					<p class="text-center m-1"><i class="h6 bi bi-envelope me-1"></i>vikas.khari@vsmunrodesigns.com</p>
				</div>
				<div class="m-md-2 contactCard pt-2 pt-md-0 pe-md-2 pb-2 pb-md-0">
					<p class="text-center m-1">Mr. Sumit Tanwar</p>
					<p class="text-center m-1"><i class="h6 bi bi-phone me-1"></i>+91-8447238205</p>
					<p class="text-center m-1"><i class="h6 bi bi-envelope me-1"></i>sumit.tanwar@vsmunrodesigns.com</p>
				</div>
				<div class="m-md-2 pt-2 contactCard pt-2 pt-md-0 pe-md-2 pb-2 pb-md-0">
					<p class="text-center m-1">Mr. Sunny</p>
					<p class="text-center m-1"><i class="h6 bi bi-phone me-1"></i>+91-9953036881</p>
					<p class="text-center m-1"><i class="h6 bi bi-envelope me-1"></i>sunny@vsmunrodesigns.com</p>
				</div>
			</div>
		</div>
		<div class="row logo-row py-3">
			<div class="col-12">
				<p class="text-light text-center m-0">
					&copy; VS Munro Designs. Website Designed by
					<a href="https://anshumgill.github.io/portfolio" class="text-reset">Anshum Gill</a>
				</p>
			</div>
		</div>
	</div>
</div>
