.mainCarousel {
	height: 100vh;
}

.carousel-item {
	width: 100vw;
	height: 100vh;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-clip: content-box !important;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.carousel-captions {
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
}

.heading {
	font-size: 3ch;
}
.heading:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0.2ch;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	animation: underline 1.5s ease-in-out 0.5s;
	animation-fill-mode: forwards;
}

@keyframes underline {
	0% {
		visibility: hidden;
		transform: scaleX(0);
	}
	100% {
		visibility: visible;
		transform: scaleX(1);
	}
}

.slide-1 {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/slide1.jpg");
}

.slide-2 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/slide2.jpg");
}

.slide-3 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/slide3.jpg");
}

.logo {
	width: 20vh;
}
