<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
	<div class="d-none d-md-flex carousel-indicators mb-5">
		<button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"></button>
		<button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item p-4 active slide-1">
			<div class="carousel-captions d-flex flex-column align-items-center text-white">
				<img src="../../assets/Logo_light.png" class="logo" />
				<p class="d-none d-md-block heading">Leading Designers in Windows and Beyond</p>
			</div>
		</div>
		<div class="carousel-item p-4 slide-2">
			<div class="carousel-captions d-flex flex-column align-items-center text-white">
				<img src="../../assets/Logo_light.png" class="logo" />
				<p class="d-none d-md-block heading">Modern Design Aspects</p>
			</div>
		</div>
		<div class="carousel-item p-4 slide-3">
			<div class="carousel-captions d-flex flex-column align-items-center text-white">
				<img src="../../assets/Logo_light.png" class="logo" />
				<p class="d-none d-md-block heading">Creativity Unleashed</p>
			</div>
		</div>
	</div>
	<button class="d-none d-md-flex carousel-control-prev fst-italic" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
		<i class="bi bi-arrow-left pe-2" aria-hidden="true"></i> previous
	</button>
	<button class="d-none d-md-flex carousel-control-next fst-italic" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
		next <i class="bi bi-arrow-right ps-2" aria-hidden="true"></i>
	</button>
</div>
