<div class="container mt-5">
	<div class="row">
		<div class="col text-center">
			<p class="display-3">What we do at <span class="title-color">VS Munro Designs</span></p>
		</div>
	</div>
	<div class="row justify-content-center mt-5">
		<div class="col-10 col-md-3 px-4 my-3 my-md-0">
			<div class="card border-0">
				<div class="card-body text-center">
					<lottie-player
						src="https://assets6.lottiefiles.com/packages/lf20_Qx2ElX.json"
						background="transparent"
						speed="1"
						class="img-fluid"
						loop
						autoplay
					></lottie-player>
					<p class="h3">Superior <span class="title-color">Quality</span></p>
					<p>Each raw material is meticulously picked to provide the best quality for our clients.</p>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-3 px-4 my-3 my-md-0">
			<div class="card border-0">
				<div class="card-body text-center">
					<lottie-player
						src="https://assets3.lottiefiles.com/packages/lf20_fclga8fl.json"
						background="transparent"
						speed="1"
						class="img-fluid"
						loop
						autoplay
					></lottie-player>
					<p class="h3">Creative <span class="title-color">Solutions</span></p>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-3 px-4 my-3 my-md-0">
			<div class="card border-0">
				<div class="card-body text-center">
					<lottie-player
						src="https://assets3.lottiefiles.com/private_files/lf30_yPKMfX.json"
						background="transparent"
						speed="1"
						class="img-fluid"
						loop
						autoplay
					></lottie-player>
					<p class="h3"><span class="title-color">Modern</span> Practices</p>
					<p>As a company founded in moden times we keep our practices fresh and quick.</p>
				</div>
			</div>
		</div>
		<div class="col-10 col-md-3 px-4 my-3 my-md-0">
			<div class="card border-0">
				<div class="card-body text-center">
					<lottie-player
						src="https://assets2.lottiefiles.com/packages/lf20_th6lhgxe.json"
						background="transparent"
						speed="1"
						class="img-fluid"
						style="height: 35vh"
						loop
						autoplay
					></lottie-player>
					<p class="h3"><span class="title-color">Cost</span> Effective</p>
				</div>
			</div>
		</div>
	</div>
</div>
