<nav class="navbar sticky-top p-4 navbar-expand-lg navbar-dark">
	<div class="container-fluid px-2">
		<a class="navbar-brand p-3" href="/"><img src="../../assets/Logo_light.png" style="width: 70px" /></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navCollapseContent"
			aria-controls="navCollapseContent"
			aria-expanded="false"
		>
			<i class="bi bi-chevron-double-down"></i>
		</button>
		<div class="collapse navbar-collapse" id="navCollapseContent">
			<div class="navbar-nav ms-auto">
				<a class="nav-link active mx-2" aria-current="page" href="/">Home</a>
				<a class="nav-link mx-2" href="#about">What We Do</a>
				<a class="nav-link mx-2" href="#products">Our Products</a>
				<a class="nav-link mx-2" href="#contact">Contact Us</a>
			</div>
		</div>
	</div>
</nav>
