<div class="container my-4">
	<div class="row my-4">
		<div class="col">
			<p class="display-3 text-center"><span class="title-color">Products</span> that we offer</p>
		</div>
	</div>
	<div class="row my-3 justify-content-center" *ngFor="let product of products">
		<div class="d-md-none col-8 productImage d-flex justify-content-center">
			<img src="{{ product.imgUrl }}" class="shadow-lg img-fluid" />
		</div>
		<div class="d-md-none col-10 bg-f-dark text-light productInfo p-4 shadow border border-1 border-dark">
			<p class="h1">{{ product.name }}</p>
			<p>
				{{ product.desc }}
			</p>
			<hr />
			<p class="h4">Variants</p>
			<div class="d-flex flex-row flex-wrap">
				<p class="p-2 m-1 bg-light title-color fw-bold" *ngFor="let variant of product.variants">{{ variant }}</p>
			</div>
		</div>
		<div class="d-none d-md-block col-5 productImage">
			<img src="{{ product.imgUrl }}" class="shadow-lg img-fluid" />
		</div>
		<div class="d-none d-md-flex col-7 bg-f-dark text-light productInfo p-3 shadow-lg flex-column justify-content-center">
			<p class="h1">{{ product.name }}</p>
			<p>
				{{ product.desc }}
			</p>
			<hr />
			<p class="h4">Variants</p>
			<div class="d-flex flex-row flex-wrap">
				<p class="p-2 m-1 bg-light title-color fw-bold" *ngFor="let variant of product.variants">{{ variant }}</p>
			</div>
		</div>
	</div>
</div>
